/*
sider component
*/
.sider {
    color: red;
}
/*
Header
*/
.sm-heading {
    background: white;
}
.sm-heading div {
    color: black;
    font-weight: 500;
    font-size: 19px;
    font-family: 'Lucida Sans''Lucida Sans Regular''Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*
Navbar Component
*/
.main-nav-div {
    margin-top: 15px;
}

.navbar-menu {
    background: white;
    float: right;
}
.nav-items {
    color: black !important;
    font-weight: 500;
    margin-left: 54px;
    margin-right: 54px;
}
.hi-user {
    color: black !important;
    margin-left: 54px;
    margin-left: 54px;
    font-weight: 400;
}
.hi-user-icon {
    background-color: ash;
    color: orange;
    font-size: 22px;
}