.sider-ul {
    margin-right: 50px;
    margin-bottom: 90px;
    margin-top: 90px;
    text-align: center; 
}

.sider-li {
    color: grey;
    font-size: 15px;
    font-weight: 500;
    margin-top: 7px; 
}

.divider {
    margin-right: 100px;
}
.profile-info {
    margin-bottom: -8px;
}
/*
Navbar Component
*/
.main-nav-div {
    background-color: white;
}

.navbar-menu {
    background: white;
    float: right;
    padding-top: 10px;
}
.nav-items {
    color: black !important;
    font-weight: 500;
    margin-left: 54px;
    margin-right: 54px;
}
.hi-user {
    color: black !important;
    margin-left: 54px;
    margin-left: 54px;
    font-weight: 400;
}
.hi-user-icon {
    background-color: ash;
    color: orange;
    font-size: 40px;
    size: 150px;
}
/*UserInfo */
.avatar {
    margin-left: 400px;
}
.info-layout {
    background-color: white;
    justify-content: center;
}
.info-row {
    justify-content: center;
    margin-top: 20px;
}
.user-info-content {
    margin: 24px 16px 0;
}
.basic-info {
    margin-right: 100px;
}
.contact-info {
    margin-right: 10px;
}
.location-info {
    margin-left: 60px;
}