.sider-ul {
    margin-right: 50px;
    margin-bottom: 90px;
    margin-top: 90px;
    text-align: center; 
}

.sider-li {
    color: grey;
    font-size: 15px;
    font-weight: 500;
    margin-top: 7px; 
}

/*
Navbar Component
*/
.main-nav-div {
    background-color: white;
}

.navbar-menu {
    background: white;
    float: right;
    padding-top: 10px;
}
.nav-items {
    color: black !important;
    font-weight: 500;
    margin-left: 54px;
    margin-right: 54px;
}
.hi-user {
    color: black !important;
    margin-left: 54px;
    margin-left: 54px;
    font-weight: 400;
}
.hi-user-icon {
    background-color: ash;
    color: orange;
    font-size: 40px;
    size: 150px;
}
/*UserInfo */
.header-title {
    color: darkgray;
    font-size: 11px;
}
.data-title {
    margin-top: 15px;
    margin-bottom: 19.2px;  
}
.data-title div {
     float: right;
     font-size: 12px;
     text-align: right;   
}
.data-title b {
    font-size: 12px;
}
.basic-info {
    margin-top: 15px;
    padding-bottom: 17.4px; 
}
.basic-info b {
    font-size: 12px;
}
.basic-info div {
    float: right;
    font-size: 13px;
    padding-right: 24px; 
}
.big-card {
    background-color: DodgerBlue;
    width: 1000px;
}
.card-header {
    color: white;
    font-size: 16px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: 600;
    padding-left: 37px; 
}
.inner-card {
    padding-right: 40px; 
    padding-left: 40px;
}
/**UserProfile.js */
.big-content {
    padding: 0 50px;
}
.big-layout {
    background: #fff;  
    padding: 24px 0;
}
.sider {
    background: #fff;
}
.menu {
    height: 100%;
}
.sm-content {
    min-height: 280; 
    padding: 0 24px;
}